<div class="center jumbotron">
  <h1>Welcome to the Rating Stone Reputation System</h1>

  <h2>
    This is the home page for
    <!-- Absolute URL here so that in localhost test mode we can visit the real site -->
    <a href="https://ratingstone.agmsmith.ca/">Rating Stone</a>,
    the slightly less evil reputation system.
  </h2>

  <p>
    Currently the web site is being created, so any changes you make will
    likely disappear the next time I rearrange the database.  Feel free to
    poke around and try things out.  Let me know if you have any suggestions.
  </p>

  <p>
    By the way, this started as the home page for the
    <a href="https://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    sample application.
  </p>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

