<!DOCTYPE html>
<html>
  <head>
    <title>About | Rating Stone</title>
  </head>
  <body>
    <h1>About Rating Stone</h1>

    <p>
      <a href="https://repsys.agmsmith.ca/">Rating Stone</a> is a slightly less
      evil reputation system.  Here you can vote up, down or "meh" on all sorts of
      things.  Find those things easily using our category tree.  Unlike other
      systems, we've made it slightly less evil - it forgives the past and avoids
      appealing to the addictive side of Human nature.
    </p>

    <p>
      You can find out more about <em>Rating Stone</em>'s theoretical underpinnings
      in the related paper
      <CITE><a href="http://web.ncf.ca/au829/WeekendReports/20190201/AGMSReputationSystem.html">A
      Less Dystopian Reputation System</a></CITE>.
    </p>

    <p>
      This is a resume fodder project (likely I'll be the only user - best rated
      person in the world!), layered on top of the Ruby on Rails Tutorial sample
      application.  Also, for this project we're learning the
      <a href="https://shopify.github.io/ruby-style-guide/">Shopify
      Ruby Style Guide</a>.
    </p>

    <p>
      The <a href="https://www.railstutorial.org/"><em>Ruby on Rails
      Tutorial</em></a>, part of the
      <a href="https://www.learnenough.com/">Learn Enough</a> family of
      tutorials, is a
      <a href="https://www.railstutorial.org/book">book</a> and
      <a href="https://screencasts.railstutorial.org/">screencast series</a>
      to teach web development with
      <a href="https://rubyonrails.org/">Ruby on Rails</a>.
    </p>
  </body>
</html>
