<% provide(:page_title, "Contact") %>

<h1>Contact Us</h1>
<p>
  If you have questions about this reputation system, send e-mail to
  <a href="mailto:?to=%22Rating Stone Support%22 %3Cagmsrepsys@gmail.com%3E&amp;subject=Rating Stone Query&amp;body=I'd like to...%0AContact someone?%0AGive feedback on the web site?%0ASomething else?">agmsrepsys@gmail.com</a>.
</p>

<p>
  Contact the Ruby on Rails Tutorial about the sample app at the
  <a href="https://www.railstutorial.org/contact">contact page</a>.
</p>

