<% provide(:page_title, "Contact") %>

<h1>Contact Us</h1>
<p>
  If you have questions about this reputation system, send e-mail to
  <a href="mailto:agmsrepsys@gmail.com">agmsrepsys@gmail.com</a>.
</p>

<p>
  Contact the Ruby on Rails Tutorial about the sample app at the
  <a href="https://www.railstutorial.org/contact">contact page</a>.
</p>

