<!DOCTYPE html>
<html>
  <head>
    <title>Home | Rating Stone</title>
  </head>
  <body>
    <h1>Rating Stone Home</h1>
    <p>
      This is the home page for
      <a href="https://repsys.agmsmith.ca/">Rating Stone</a>,
      the slightly less evil reputation system.
    </p>
  </body>
</html>
