<div class="center jumbotron">
  <h1>Welcome to the Rating Stone Reputation System</h1>

  <h2>
    This is the home page for
    <a href="https://repsys.agmsmith.ca/">Rating Stone</a>,
    the slightly less evil reputation system.
  </h2>

  <p>
    By the way, it started as the home page for the
    <a href="https://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    sample application.
  </p>

  <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rails.svg", alt: "Rails logo", width: "200px"),
                      "https://rubyonrails.org/" %>

<h2>Request Environment</H2>
<table>
<% request.env.each do | key, item |
     value = item.inspect
     if value.length > 80
       value = value.slice(0, 60) + "... and #{value.length} more letters."
     end
%>
  <tr><td><%= key.inspect %></td><td><%= value %></td></tr>
<% end %>
</table>
