<% provide(:page_title, 'Edit Group') %>
<% provide(:button_text, 'Save Changes') %>

<h1>Editing Group "<%= @ledger_object.name %>"</h1>

<div class="row">
  <div class="col-xs-12">
    <%= render 'name_description_settings_form' %>
  </div>
</div>

