<% provide(:page_title, 'All Ledger Groups') %>

<h1>All Ledger Groups</h1>

<%= will_paginate @ledger_objects %>
<ul class="list-ledger-objects">
<% @ledger_objects.each do |an_object| %>
<%= render 'ledger_groups/ledger_group', { ledger_group: an_object } %>
<% end %>
</ul>
<%= will_paginate @ledger_objects %>
