<% provide(:page_title, 'All Opinion Links') %>

<h1>All Opinion Links</h1>

<%== pagy_nav(@pagy) %>
<ul class="list-ledger-objects">
<% @link_objects.each do |an_object| %>
<%= render 'link_opinions/link_opinion', { link_object: an_object } %>
<% end %>
</ul>
<%== pagy_nav(@pagy) %>
