<% provide(:page_title, 'All Ledger Objects') %>

<h1>All Ledger Objects</h1>

<%== pagy_bootstrap_nav(@pagy) %>
<ul class="list-ledger-objects">
<% @ledger_objects.each do |an_object| %>
<%= render 'ledger_bases/ledger_object', { ledger_object: an_object } %>
<% end %>
</ul>
<%== pagy_bootstrap_nav(@pagy) %>
