<li>
  <%= link_to gravatar_for(user, size: 50), user %>
  <% if current_user.admin? && !current_user?(user) %>
    <%= form_with(url: user, local: true, method: :delete,
      class: 'deletebutton') do |f| %>
      <%= f.submit "Delete",
        class: "btn btn-danger button-full-width" %>
    <% end %>
  <% end %>
  <%= link_to user.name, user %>
</li>
