<% provide(:page_title, 'Sign Up') %>
<% provide(:button_text, 'Create My Account') %>

<h1>Sign Up</h1>

<% if request.env['HTTPS'] != 'on' # Apache web server HTTPS detection. %>
  <div class="row center">
    <div class="col-md-6 col-md-offset-3">
      <div class="alert alert-warning" role="alert">
        You are accessing this web page without using encryption.
        That means someone could more easily spy on your Internet
        connection, see your new password, and then pretend to be
        you.  If your web browser is new enough, you may wish to
        switch to the encrypted page.
      </div>

      <a href="<%= signup_url.sub(/http:/, 'https:') %>"
       class="btn btn-lg btn-primary">Switch to <strong>secure</strong> Sign Up</a>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'name_email_password_form' %>
  </div>
</div>

