<% provide(:page_title, 'All Ledger Objects') %>

<h1>All Ledger Objects</h1>

<%= will_paginate @ledger_objects %>
<ul class="list-ledger-objects">
<% @ledger_objects.each do |an_object| %>
<%= render 'ledger_objects/ledger_object', { ledger_object: an_object } %>
<% end %>
</ul>
<%= will_paginate @ledger_objects %>
