<% provide(:page_title, 'All Link Objects') %>

<h1>All Link Objects</h1>

<%== pagy_bootstrap_nav(@pagy) %>
<ul class="list-ledger-objects">
<% @link_objects.each do |an_object| %>
<%= render 'link_bases/link_base', { link_object: an_object } %>
<% end %>
</ul>
<%== pagy_bootstrap_nav(@pagy) %>
