<% provide(:page_title, 'All Link Objects') %>

<h1>All Link Objects</h1>

<%= will_paginate @link_objects %>
<ul class="list-ledger-objects">
<% @link_objects.each do |an_object| %>
<%= render 'link_bases/link_base', { link_object: an_object } %>
<% end %>
</ul>
<%= will_paginate @link_objects %>

