<%
  # Display a LedgerPost object plainly as possible, just a subject line and a
  # box of text, each just inside a <DIV>.  You can click on the subject to see
  # the detailed view of the post.  No extra buttons, no statistics.  Can be
  # useful for listing posts, and as part of fancier displays with buttons.

  # Deleted post being displayed to an outsider, don't reveal anything.
  if ledger_post.deleted? && !ledger_post.creator_owner?(current_ledger_user) %>
    <div class="post-subject deleted">
      Deleted title not shown.
    </div>
    <div class="post-text-content">
      Deleted content not shown.
    </div>
  <% # Not hidden from the user, but may be deleted.
  else %>

    <div class="<%= # Subject and content, in red via class "deleted" if deleted.
      ledger_post.deleted? ? "deleted " : "" %>post-subject">
      <%= link_to(
        ledger_post.subject.empty? ? "<No Subject>" : ledger_post.subject,
        ledger_post_path(ledger_post)) %>
    </div>
    <div class="post-text-content">
      <%= Kramdown::Document.new(ledger_post.content).to_html.html_safe -%>
    </div>
  <% end %>
