<% provide(:page_title, 'Ancestors of Posts') %>

<h1>Ancestors</h1>

<%= will_paginate @ledger_objects %>

<% hidden_count = 0
  @ledger_objects.each do |an_object|
    if an_object.is_a?(LedgerPost) && !an_object.deleted?
      %><%= render an_object
    %><% else
      hidden_count += 1
    end
  end %>
<% if hidden_count != 0 %>
<p><%= "#{hidden_count} #{'post'.pluralize(hidden_count)} " \
    "#{(hidden_count == 1) ? 'was' : 'were'}"
  %> hidden (deleted, or not a post).</p>
<% end %>

<%= will_paginate @ledger_objects %>

