<% provide(:page_title, 'Edit Post') %>
<% provide(:button_text, 'Save Changes') %>

<h1>Editing <%= @ledger_object.base_s %></h1>

<div class="row">
  <div class="col-xs-12">
    <%= render 'post_content_form' %>
  </div>
</div>

